<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingchuan.wufu.userclient.Dao.UserMapper">
    
    <insert id="insert" parameterType="com.pingchuan.Model.User">
         INSERT INTO `users` (
             `id`,
             `organization_id`,
             `name`,
             `username`,
             `password`
         ) VALUES (
             #{id},
             #{organizationId},
             #{name},
             #{username},
             #{password}
         )
    </insert>
    
    <delete id="delete" parameterType="com.pingchuan.Model.User">
        DELETE FROM `users`
        <where> 
            <if test="id != null"> and `id` = #{id} </if>
            <if test="organizationId != null"> and `organization_id` = #{organizationId} </if>
            <if test="name != null"> and `name` = #{name} </if>
            <if test="username != null"> and `username` = #{username} </if>
            <if test="password != null"> and `password` = #{password} </if>
        </where>
    </delete>
    
    <update id="updateById" parameterType="com.pingchuan.Model.User">
        UPDATE `users`
        <set>
            <if test="id != null"> `id` = #{id}, </if>
            <if test="organizationId != null"> `organization_id` = #{organizationId}, </if>
            <if test="name != null"> `name` = #{name}, </if>
            <if test="username != null"> `username` = #{username}, </if>
            <if test="password != null"> `password` = #{password}, </if>
        </set>
        where `id` = #{id}
        
    </update>
    
    <select id="findAll" resultType="com.pingchuan.Model.User">
        SELECT  
             `id` id,
             `organization_id` organizationId,
             `name` `name`,
             `username` username,
             `password` password
        FROM
            `users`
    </select>

    <select id="findOneByUsernameAndPassword" resultType="com.pingchuan.Model.User">
        SELECT
             `id` `id`,
             `organization_id` `organizationId`,
             `name` `name`,
             `username` `username`,
             `password` `password`
        FROM
            `users`
        where `username` = #{0} and `password` = #{1}
    </select>
    
</mapper>

